* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

.nome-titulo {
  font-size: 70px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(49, 49, 49);
  text-align: center;
}

.nome-filme {
  font-size: 45px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  text-decoration: underline;
  margin: 50px 0 20px 0;
}

.descricao-filme{
  font-size: 20px;
  margin-bottom: 30px;
}

.texto-centro{
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.imagem-formato {
  min-width: 100px;
  min-height: 100px;
  max-width: 600px;
  max-height: 600px;
}

.imagem-catalogo{
  margin:15px;
  height:100px;
}

.imagem-streaming {
  height: 30px;
}

#disney-streaming{
  height: 50px;
}

.flex-streaming{
  display:flex;
  gap:20px;
  background-color: rgb(255, 255, 255)
}

#camera {
  width: 400px;
  height: 400px;
}

.bloco-imagem{
  display: flex;
  justify-content: center;
}

.button {
  display:block;
  color: #FFF;
  background-color: #868686;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  text-decoration: none;

  width: fit-content;
  margin: 20px auto;

  font-family:Tahoma, sans-serif;
}

.button:hover {
  background-color: #FFF;
  color: #868686;
  text-decoration: underline;
}



.container {
  margin: 40px;
  padding: 20px;
  display: flex;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
}

.content{
  width: 80%;
  max-width: 1000px;
  padding: 20px;
  background-color: #ededed;
  text-align: left;

}

hr {
  border: 2px dashed gray;
}